@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'opensans_regular';
    src: url('Font/opensans_regular_macroman/opensans-regular-webfont.eot');
    src: url('Font/opensans_regular_macroman/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/opensans_regular_macroman/opensans-regular-webfont.woff') format('woff'),
         url('Font/opensans_regular_macroman/opensans-regular-webfont.ttf') format('truetype'),
         url('Font/opensans_regular_macroman/opensans-regular-webfont.svg#open_sansregular') format('svg');
}






body
{
	margin: 0px;
	font-family: 'opensans_regular',  Helvetica, Arial, sans-serif;
	
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #555;
}
#bloc_page
{
	margin: auto;

}
/*header*/
header
{
	
}
#Presentation
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	background-image: url("Image/background.png") ;
	background-size: cover;
	background-repeat: no-repeat; 
	min-height: 100vh;

}
#Presentation h1
{
	
	font-size: 4em;

}
#Presentation h3
{
	font-size: 1.5em;
	color: #555;
	text-decoration: underline;
}

#name {
  font-family:'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}


#Presentation p
{
	
	margin-right: auto;
	margin-left:  auto;
	max-width: 500px;
	font-size: 1.2em;
	background: url(Image/note.jpg) no-repeat;
	background-size: 100%;
	border-style: double;
	border-radius: 6px;
	padding: 14px;
	background-color: #d1e7f4;
	


}


nav
{
	display: flex;
	
	
}
nav ul
{

	display: flex;
	flex-direction: row;	
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0; 
	padding: 0; 



}
nav li
{

	border-top: 3px solid transparent;
	margin-right:  10px;
	margin-left: 10px;
	font-size: 1.4em;
}
nav li:hover
{
	border-top: 3px solid #DCDCDC;
}
hr {
    display: block;
    
    height: 1px;
    width: 20%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    margin: auto;
    padding: 0;
}
/*Projets*/
#Projets
{
	background-image: url(Image/fractaleback.jpg)
}
#Projets h1
{
	font-size: 3em;
	border-top: 3px solid black;
	border-bottom:  3px solid black;
}
#Projets h2
{
	font-size: 2em;
	font-family: 'Open Sans';
}
#Projets p
{
	font-size: 1.2em;
}
#Projets a
{
	text-decoration: underline;
}
#Projets a:hover
{
	color:#333;
	text-decoration: underline;
}

#Projets p
{
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;
}
#Projets ul
{
	list-style-type: none;
}
#Projets img
{
	width: 400px;
}
#Projets  h2
{
	background-image: url("Image/h1back.jpg");
	color: #D0D0D0;
}
/*Ocaml*/
#Projets_Fractales ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-image: url(Image/fractaleback.jpg)

}
#Projets_Fractales li
{
	
	
}
#Projets_Arithmetique ul li:before
{
	

	 position: absolute;
   background-color: #b61717;
   width: 5px;
   height: 5px;
   border-radius: 50%;
   content: "";
   left: -12px;
   top: 8px;
   

}
#Projets_Arithmetique 
{
	display: flex;
	justify-content: space-around;
   
}  
#Projets_Arithmetique li
{
	position: relative;
	text-align: left;
      line-height: 20px;

	
}

/*CV */
#CV
{
	background-image: url(Image/CVback.png);
	
	font-size: 30px;


}
#CV a
{

    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
}

#CV a.button {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

#CV a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}
#CV hr
{
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 100%;
}
#CV
{
	color: #555;
}
#Contact ul
{
	display: flex;
	justify-content: space-around;
	list-style-type: none;

	
}
#Contact p
{
	font-size: 0.7em;
}

#Contact li
{
	flex :10%;
	word-wrap: break-word;
}

section 
{
	display: flex;
	flex-direction: column;
	text-align: center;
}